body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#article03 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}
#h101{
    text-align: center;
}
section{
    
}
.container {
    display: flex;

}

.container02 {
    display: flex;
}

/*sections*/
#sec01 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}

#sec02 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}

#sec03 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}
#sec04 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}
#sec05 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}
#sec06 {
    border-left: solid 10px;
    border-left-style: solid;
    border-left-color: purple;
    margin-top: 5%;
    background-color:whitesmoke;
    height: 30%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    -moz-box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
    box-shadow: 11px 1px 14px 9px rgba(115, 115, 115, 1);
}

.container001{
    display: flex;
}

img{
    border-radius: 100%;
    margin-left: 3%;
    margin-bottom: 3%;
}
h2{

}
#im01{
    margin-bottom: 5%;
}

#section11{
    display: flex;
}
#section12{
    display: flex;
}
#section13{
    display: flex;
}
#section14{
    display: flex;
}
#section15{
    display: flex;
}
#section16{
    display: flex;
}
p{
    
}
#p01{
    font-style: italic;
    color: gray;
}
#p02{
    font-style: italic;
    color: gray;
}
#p03{
    font-style: italic;
    color: gray;
}
#p04{
    font-style: italic;
    color: gray;
}
#p05{
    font-style: italic;
    color: gray;
}
#p06{
    font-style: italic;
    color: gray;
}