form {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10%;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}
label{
    margin-top: 1%;
}
#sub1{
    margin-top: 1%;
   color: aliceblue;
    background-color: purple;
}
