/* estilização do form */
form {
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*estilização do body*/
body {
    margin: 0;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}
label{
    margin-top: 1%;
}
/*estilização do submit*/
#sub1{
   color: aliceblue;
    background-color: purple;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
}
#sub1:hover{

background-color: rgb(233, 196, 237);
color:purple;

}

#iframefo{
    margin-bottom: -5px;
    position: fixed;
    bottom: 0;
}