/* estilização do form */
form {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
/*estilização do body*/
body {
    margin: 0;
}

h1 {
    text-align: center;
}
label{
    margin-top: 1%;
}
/*estilização do submit*/
#sub1{
    margin-top: 2%;
   color: aliceblue;
    background-color: purple;
    width: 30%;
    height: 30%;
    margin: auto;
    border-radius: 10px;
}
#sub1:hover{

background-color: rgb(233, 196, 237);
color:purple;

}