header{
    background-color: purple;
    margin: auto;
    text-align: center;
}
/*Personalizção do nav*/
nav{
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
    /*personalizção do icone de inicio*/
#Início{
    text-decoration: none;

}
/*Decoração dos icones da aba de navegação*/
nav li {
    text-decoration: none;
    justify-content: space-between;
    padding-right: 5px;
    
}

ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin: 0%;
    padding-left: 0;

}

body {
    margin: 0;
    width: 100%;

}
#feedback:hover{
    background-color: violet;

}
#Início:hover{
    background-color: violet;
}

.logo {
    width: 70px;
    height: 70px;
    margin: auto;
    animation-name: spin; 
    animation-duration: 2s; 
    animation-iteration-count: initial; 
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  