header{
    background-color: purple;
}
nav{
    margin: auto;
    text-align: center;
}
header{
    margin: auto;
    text-align: center;
}
#Início{
    text-decoration: none;

}
nav li {
    text-decoration: none;
    justify-content: space-between;
    
}

ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

body {
    margin: 0;
    width: 100%;

}
#feedback{
    margin-left: 5px;

}
#feedback:hover{
    background-color: violet;

}
#Início:hover{
    background-color: violet;
}