body {
    text-align: center;
    margin: auto;
    background-color: white;
}
.container {
    margin: auto;
}
#submit1 {
    background-color: purple;
    color: white;
    border-radius: 10px;
}
#img1 {
    margin: auto;
}
