<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/footer.css">

</head>

<body>

    <footer>
        <section>
            <a href="#" class="logo"></a>
            <!-- Todos os direitos reservados -->
            <p id="pa1">Todos os direitos reservados</p>
            <!-- Linktree -->
            <a href="https://linktr.ee/stefannyrodrioliv" target="_blank">
                <!-- Logo do linktree -->
                <img id="img1" src="../assets/images/logo linktree png.png" width="50" height="40">
            </a>
        </section>
    </footer>
</body>

</html>